VITE_AUTH_APP_ID=juise_rider_admin_dashboard
VITE_DEFAULT_MANAGED_APP_ID=juise-customer-app

VITE_PORT=5174
VITE_PREVIEW_PORT=4174

VITE_AUTH_API_BASE=/auth-api
VITE_NEBULA_API_BASE=/nebula-api
VITE_HUB_STORE_API_BASE=/hub-store-api
VITE_KCA_PROXY_API_BASE=/kca-api

VITE_AUTH_PROXY_TARGET=https://global-auth-service.kuhmute.net
#http://localhost:3864
VITE_NEBULA_PROXY_TARGET=https://nebula-user-server.kuhmute.net
# http://localhost:7893
VITE_HUB_STORE_PROXY_TARGET=https://hub-store-service.kuhmute.net
# http://localhost:9635
VITE_KCA_PROXY_TARGET=https://kca-proxy.kuhmute.net
# http://localhost:8088
