modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
run = ["npm", "run", "preview"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_AUTH_PROXY_TARGET = "https://global-auth-service.kuhmute.net"
VITE_NEBULA_PROXY_TARGET = "https://nebula-user-server.kuhmute.net"
VITE_HUB_STORE_PROXY_TARGET = "https://hub-store-service.kuhmute.net"
VITE_KCA_PROXY_TARGET = "https://kca-proxy.kuhmute.net"
